<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') -%>
<body>
<header>
    <%- include('partials/navBar') -%>
</header>

<main>
    <!-- Start your project here-->
    <div style="height: 100vh">
        <div class="flex-center text-center flex-column">
            <h1 class="text-hide animated fadeIn mb-4" style="background-image: url('/assets/notFound.png'); background-repeat: no-repeat; width: 410px; height: 240px;">Page Not Found</h1>
            <p class="text-center text-wrap font-weight-bold space h1">PAGE NOT FOUND</p>
            <h2>This Page Was Purposely Not Found.</h2>
            <h5 class="animated fadeIn mb-3">Thank you for trying our demo. We're glad you're with us.</h5>
            <a href="/" class="btn btn-outline-dark">Go To Home Page</a>
            <p class="animated fadeIn text-muted mt-2">Atranet Team</p>
        </div>
    </div>
    <!-- End your project here-->
</main>

<%- include('partials/footer') -%>

<%- include('partials/scripts') -%>
</body>
</html>