<h2 class="text-center mb-4 font-weight-bold">What This App Can Do For You</h2>
<!--Grid row-->
<div class="row text-center mt-5 mb-5" id="about">

    <!--First column-->
    <div class="col-lg-3 wow fadeIn col-md-6">
        <i class="fas fa-lock fa-3x blue-text"></i>

        <p class="font-weight-bold my-3">Secure Auth</p>

        <p class="text-muted">
            Signing up or Logging in securely with
            <a target="_blank" href="https://auth0.com/?utm_content=usbranded-auth0-auth0homepage&utm_source=google&utm_campaign=amer_mult_usa_all_ciam-all_dg-ao_auth0_search_google_text_kw_utm2&utm_medium=cpc&utm_term=auth0-c&utm_id=aNK4z0000004GX8GAM&gad=1&gclid=Cj0KCQjw98ujBhCgARIsAD7QeAhffM1rNEieMARA2ikujO2QLCUrgxmWCOUMC0567RfzWnXo2mdietwaAgO1EALw_wcB">
                Auth0
            </a>.
        </p>
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-lg-3 wow fadeIn col-md-6">
        <i class="fas fa-code fa-3x teal-text"></i>

        <p class="font-weight-bold my-3">Custom Pages</p>

        <p class="text-muted">
            No pre-built templates, all designed when ordered.
        </p>
    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-lg-3 wow fadeIn col-md-6">
        <i class="fas fa-cogs fa-3x indigo-text"></i>

        <p class="font-weight-bold my-3">Functionality</p>

        <p class="text-muted">
            Functioning pages and protected routes to monitor.
        </p>
    </div>
    <!--/Third column-->

    <!--Fourth column-->
    <div class="col-lg-3 wow fadeIn col-md-6">
        <i class="fas fa-cloud-upload-alt fa-3x deep-purple-text"></i>

        <p class="font-weight-bold my-3">Dynamic Content</p>

        <p class="text-muted">
            Dynamic content from a database trusted by developers.
        </p>
    </div>
    <!--/Fourth column-->

</div>
<!--/Grid row-->