<!-- section article -->
<section class="px-md-2 mx-md-1 text-center text-lg-left dark-grey-text">

    <h3 class="font-weight-bold">Call to action</h3>

    <p class="text-muted mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
        numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum reiciendis
        doloribus eius optio autem. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-lg-0 mb-4">

            <img src="https://mdbootstrap.com/img/Others/cards.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">

            <h4 class="h4 wow fadeIn">Why is it so great?</h4>

            <p class="text-muted wow fadeInUp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
                numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 text-center">

            <a class="btn btn-outline-info btn-md waves-effect" href="/gallery" role="button">Take a Tour</a>
            <a class="btn btn-info btn-md" href="mailto:stephenbrooks714@gmail.com" role="button">Start now<i class="fa fa-magic ml-1"></i></a>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <div id="blogs"></div>
</section>
<!--Section: article-->